server:
  servlet:
    context-path: /api/v1
    port: 8080
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/Hostel
    username: root
    password: root
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update

    show-sql: true
  data:
    mongodb:
      uri: mongodb://root:root@localhost:27017/HostelManagerSystem?AuthSource=admin
  mail:
    host: smtp.gmail.com
    port: 587
    username: phamvansy204@gmail.com
    password: "ovnf bbqj ekhe rmpa"
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
jwt:
  signerKey: "7b690d90e890f3f77df4150849c9b715740347968babaee859263c2b083f7620"
  valid-duration: 3600 # in second
  refreshable-duration: 360000 #second



